@import '@/assets/styles/global/index';
// @import '../../../../assets/styles/global/vars';
// @import '../../../../assets/styles/global/index';



html {
}

.megaphon-app {
  font-size: 15px;
  .app-header {
    background-color: #F2F2F2;
  }
  font-family: Rubik,sans-serif;
}


.megaphon-app {
  .table-like-list {
    .item-page {
      overflow: unset;
    }
    
    .item-list {
      gap: 0;
      flex-direction: column;
      justify-content: flex-start;
      box-shadow: $light-shadow;
    }
    .table-item-preview {
      width: 100%;
      min-height: em(40px);
      display: flex;
      align-items: center;
      padding: 0 em(10px);
      >* {
        flex: 1;
      }
      &:nth-child(odd) {
        background-color: #EFEFEF;
      }
      &:nth-child(even) {
        background-color: white;
      }
      &.table-header {
        background-color: black;
        color: white;
      }
    }
  }

  
  .delete-mini-btn {
    width: em(15px);
    object-fit: unset;
  }

  
  .tab-nav {
    width: 100%;
    height: em(60px);
    background-color: #0084D4;
    display: flex;
    align-items: flex-end;
    gap: em(10px);
    .container {
      height: 100%;
      display: flex;
      align-items: flex-end;
      gap: em(10px);
    }
    button {
      height: 80%;
      padding: em(10px);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #B2DAF2;
      color: #0084D4;
      &.selected {
        background-color: #fff;
      }
    }
    &.light {
      background-color: #bbbbbb;
      // background-color: unset;
      height: em(40px);
      button:not(.selected) {
        background-color: #d2d2d2;
        color: black;
      }
    }
  }
}