@import '@/assets/styles/global/index';
// @import '../../../../assets/styles/global/vars';
// @import '../../../../assets/styles/global/index';


@font-face {
  font-family: "Rubik-local";
  src: url("~@/apps/megaphonApp/assets/fonts/Rubik/Rubik-VariableFont_wght.ttf");
}


html {
}

.megaphon-app {
  // font-size: rem(15px);
  .app-header {
    background-color: #F2F2F2;
  }
  font-family: Rubik-local,Rubik,sans-serif;
}



.megaphon-app {
  .item-page {
    overflow: unset;
  }
  
  .table-item-preview {
    width: 100%;
    min-height: em(40px);
    padding: 0 em(10px);

    &:not(:last-child):not(.table-header) {
      border-bottom: rem(1.5px) solid color-mix(in srgb, var(--clr-0) 20%, transparent);
      
    }
    
    &:nth-child(odd) {
      // background-color: #EFEFEF;
    }
    &:nth-child(even) {
      // background-color: var(--clr-1);
    }
    &.table-header {
      background-color: var(--clr-3);
      color: var(--clr-2);
    }
  }
  
  

  
  .tab-nav {
    width: 100%;
    height: em(60px);
    // background-color: #0084D4;
    background-color: var(--clr-4);
    display: flex;
    align-items: flex-end;
    gap: em(10px);
    .container {
      height: 100%;
      display: flex;
      align-items: flex-end;
      gap: em(10px);
    }
    button {
      height: 80%;
      padding: em(10px);
      display: flex;
      align-items: center;
      justify-content: center;
      // background-color: #B2DAF2;
      // color: #0084D4;
      background-color: var(--clr-5);
      color: var(--clr-4);
      &.selected {
        background-color: #fff;
      }
    }
    &.light {
      background-color: #bbbbbb;
      // background-color: unset;
      height: em(40px);
      button:not(.selected) {
        background-color: #d2d2d2;
        color: black;
      }
    }
  }
}

// .megaphon-app.dark-theme { // MOVED TO
//   .table-item-preview {
//     color: white;
//     &:nth-child(odd) {
//       background-color: #6c6c6c;
//     }
//     &:nth-child(even) {
//       background-color: rgb(37, 37, 37);
//     }
//     &.table-header {
//       background-color: white;
//       color: black;
//     }
//   }
// }
