
@font-face {
  font-family: "noylandBold";
  src: url("~@/apps/agam/assets/fonts/noyland/noyland-bold-aaa.ttf");
}

$agamAppFont: Segoe UI;

$main-font-color: #666666;


html {
  font-family: $agamAppFont;
  font-weight: 500;
}

.agam-app {
  color: $main-font-color;
  font-family: $agamAppFont;
  font-weight: 500;
  // background-color: $layout-header-bg;
  // color: $layout-header-clr;
  
  // background-color: rgb(252, 47, 47);
  // color: #fff;
}