

input, select, textarea {
  padding: em(5px);
  padding-left: none;
  border: unset;
  background: unset;
  outline: none;

  border-radius: em(5px);
  border: em(0.5px) solid rgba(114, 114, 114, 0.5);
  // background-color: var(--clr-1); // rgba(0, 0, 0, 0.01)
  // color: var(--clr-0);
}
.actual-input {
  background-color: var(--clr-1) !important; // rgba(0, 0, 0, 0.01)
}
input, select, textarea, .form-input .head, .form-input .drop-down_ {
  background-color: var(--clr-1) !important; // rgba(0, 0, 0, 0.01)
  color: var(--clr-0) !important;
}

.form-input-multiselect, .form-input-select {
  min-width: em(180px);
  min-height: em(25px);
}

// .dark-theme.megaphon-app { // MOVED TO
//   input, select, textarea {
//     background-color: rgba(255, 255, 255, 0.2);
//     color: white;
//   }
//   .app-form-styling {
//     input, textarea {
//       background-color: #4d4d4d;
//       // color: white;
//       &::placeholder, .placeholder {
//         color: rgba(255, 255, 255, 0.6);
//       }
//     }
//     .select {
      
//       background-color: #4d4d4d !important;
//       color: white;
//       .drop-down {
//         color: #0084D4;
//       }
      
//     }
//   }
// }


// input, select, .input {
//   width: em(180px);
//   height: em(25px);
// }


a, .router-link {
  text-decoration: none !important;
  color: inherit;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



h1 {
  font-size: em(32px);
  font-weight: bold;
}
h2 {
  font-size: em(24px);
  font-weight: bold;
}
h3 {
  font-size: em(18px);
  font-weight: bold;
}
h4 {
  font-size: em(16px);
  font-weight: bold;
}

// p, h1, h2, h3, h4, h5, h6 {
//   white-space: pre-wrap;
// }
.exact-spacing {
  white-space: pre-wrap;
}



@mixin prettyScroll {
  &::-webkit-scrollbar {
    margin-left: 2.5px;
    padding: 1px;
    width: 5px;
    height: 5px;
    background-color: rgb(83, 83, 83); // rgb(228, 59, 59) // rgb(255, 137, 137)
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    /* width: 5px; */
    background-color: rgb(60, 60, 60); // rgb(255, 137, 137) // rgb(255, 239, 149)
    border-radius: 10px;
    
  }
  &::-webkit-scrollbar-button {
    height: 0px;
    /* width: 0px; */
    /* background-color: blue; */
    border-radius: 10px;
    background-color: rgb(83, 83, 83); // rgb(228, 59, 59)
  }
}
.pretty-scroll {
  &::-webkit-scrollbar {
    margin-left: 2.5px;
    padding: 1px;
    width: 5px;
    background-color: rgb(83, 83, 83); // rgb(228, 59, 59) // rgb(255, 137, 137)
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    /* width: 5px; */
    background-color: rgb(60, 60, 60); // rgb(255, 137, 137) // rgb(255, 239, 149)
    border-radius: 10px;
    
  }
  &::-webkit-scrollbar-button {
    height: 0px;
    /* width: 0px; */
    /* background-color: blue; */
    border-radius: 10px;
    background-color: rgb(83, 83, 83); // rgb(228, 59, 59)
  }
}


.table-like-list {
  display: flex !important;
  flex-direction: column;
  .item-list-container {
    gap: 0;
  }
  .item-list {
    gap: 0;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: $light-shadow;
  }
  .table-item-preview {
    display: flex;
    align-items: center;
    >* {
      flex: 1;
      // max-width: rem(200px);
      overflow: hidden;
      text-overflow: ellipsis;
      &.flex-2 {
        flex: 2;
      }
    }
  }
}


.svg-parrent {
  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}