
// .dark-theme .btn {
//   color: white;
// }

.dark-theme {
  .btn {
    &:not(.clear) {
      // background-color: black;
      // color: white;
      &.primary {
        // background-color: $clr-light-green;
        background-color: #0184d4;
        color: white;
      }
      &:active {
        color: black;
        border-color: black;
      }
    }
  }
  
  .toggle-btns {
    background-color: black;
    button {
      color: white;
    }
  }
}
.btn {
  &:not(.clear) {
    // height: em(20px);
    background-color: #ffffff;
    box-shadow: $light-shadow;
    color: black;
    border-radius: em(5px);
    padding: 0 em(5px);
  
    display: inline-flex;
    align-items: center;
    gap: em(5px);
    
    img {
      height: em(20px);
      width: unset;
    }
    &.icon {
      height: em(20px);
      width: em(20px);
      padding: 0;
      border: unset;
      // padding: em(1px);
      // img {
      //   height: calc(100% - 2px);
      //   width: calc(100% - 2px);
      // }
    }
    &.small {
      height: (em13px);
      width: (em13px);
      padding: 0;
      border-radius: 2px;
      font-size: 11px;
    }
  
    &.big {
      padding: em(10px) em(20px);
    }
    &.mid {
      padding: em(7px) em(15px);
    }
  
    &.primary {
      // background-color: $clr-light-green;
      background-color: black;
      color: white;
    }
    &.secondary {
      background-color: $clr-light-blue;
    }
    &.danger {
      background-color: $clr-light-red;
    }
  
    // &.safe {
    //   background-color: green;
    // }
    // &.danger {
    //   background-color: red;
    // }
    &:active {
      color: white;
      border-color: white;
    }

  }

  &:hover {cursor: pointer;}

  &:disabled {
    opacity: 0.7;
    cursor: default !important;
  }
}

.toggle-btns { // flex align-center space-between gap5 
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  // border: em(1px) solid $clr-light-blue;
  border-radius: em(3px);
  overflow: hidden;
  background-color: #fff;
  box-shadow: $light-shadow;
  button {
    padding: em(3px);
    color: black;
    height: 100%;
    &:not(:last-child) {
      border-inline-end: em(1px) solid $clr-light-blue;
    }
    &.selected {
      background-color: $clr-light-green;
      font-weight: bold;
    }
    img {
      width: em(30px);
      height: em(30px);
    }
  }
}

// button, .button-like {
//   border: unset;
//   background: unset;
//   outline: none;
//   // padding: 0 em(5px);
//   // border: em(1px) solid black;
//   // box-shadow: $light-shadow;
//   // color: black;
//   // border-radius: em(5px);
// } button:hover, .button-like:hover {cursor: pointer;}
// button:active, .button-like:active {
//     color: white;
//     border-color: white;
//   }