
/* helpers */


// FLEX HELPERS:
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: end;
}
.align-start {
  align-items: start;
}
.align-stretch {
  align-items: stretch;
}
.justify-center {
  justify-content: center;
}
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
.column {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.flex-start {
  align-items: flex-start;
}
.flex-end {
  align-items: flex-end;
}
.justify-end {
  justify-content: flex-end;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-1 {
  flex: 1;
}
.stretch-self {
  align-self: stretch;
}
.align-self-end {
  align-self: flex-end;
}
.align-self-start {
  align-self: flex-start;
}
.row-reverse {
  flex-direction: row-reverse;
}
.column-reverse {
  flex-direction: column-reverse;
}

.column-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}
// .column-layout >*:not(:last-child) {
//   margin-bottom: em(7.5px);
// }

.gap3 { gap: em(3px); }
.gap5 { gap: em(5px); }
.gap10 { gap: em(10px); }
.gap15 { gap: em(15px); }
.gap20 { gap: em(20px); }
.gap30 { gap: em(30px); }
.gap40 { gap: em(40px); }
.gap50 { gap: em(50px); }
.gap60 { gap: em(60px); }

.text-center {
  text-align: center;
}

.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.width-all {
  width: 100%;
}

.height-all {
  height: 100%;
}

.width-half {
  width: 50%;
}

.height-half {
  height: 50%;
}

.width-content {
  width: fit-content;
}
.height-content {
  height: fit-content;
}


.danger {
  color: $clr-danger;
}
.safe {
  color: $clr-safe;
}
.warn {
  color: $clr-warn;
}

.simple-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  // align-items: flex-start;
  gap: em(10px);
  .form-input {
    // align-items: flex-start;
    // width: em(300px);
    &.width-content {
      width: fit-content;
    }
    .input {
      flex: 1;
    }
    .label {
      width: em(100px);
    }
  }


  &.gap30 {
    gap: e,(30px);
  }
}