

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  // gap: 10px;
}


@mixin font-size-big {
  font-size: $font-size-big;
}


@mixin lightShadow {
  position: relative;
  &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    inset-inline-end: 0;
    // z-index: -1;
    box-shadow: 0 0 em(10px) em(1px) var(--clr-0);
    // opacity: 0.2;
  }
}