* {
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-header {
  height: $header-height;
  min-height: $header-height;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
}

.app-main {
  // min-height: calc(100vh - #{$header-height} - #{$footer-height});
  // height: calc(100vh - #{$header-height});
  min-height: calc(100vh - #{$header-height});
  margin-top:  $header-height;
  // overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;

  
  // color: $layout-body-clr;
  // background-color: $layout-body-bg;
  // background-color: #fff;
  // color: rgb(252, 47, 47);
}


.main-pad-y {
  padding-top: $main-pad-y !important;
  &:not(.no-pad-bottom) {
    padding-bottom: $main-pad-y !important;
    // padding-bottom: 0;
  }
}

.app-footer {
  // min-height: $footer-height;
  padding-inline-start: $app-aside-width;
  @media (max-width: $small-screen-break) {
    padding-inline-start: 0;
  }
}

.app-content {
  display: flex;
  position: relative;
  .right {
    position: relative;
    flex: 1;
  }
}

// .app-aside {
//   // display: none !important;
//   display: none;
//   width: $app-aside-width;
//   // background-color: rgba(0,0,0,0.05);
//   // background-color: rgba(255,255,255,0.3);
//   border-inline-end: 0.5px solid rgba(0,0,0,0.1);
//   @media (max-width: $small-screen-break) {
//     display: none !important;
//   }
// }

.inner-app {
  // height: 100%;
  // height: calc(100vh - #{$header-height});
  min-height: calc(100vh - #{$header-height});
  width: 100%;
  display: flex;
  flex-direction: column;
  .inner-app-content {
    height: 100%;
    flex: 1;
    // overflow-y: auto;
    display: flex;
    flex-direction: column;
    &>:only-child {
      flex: 1;
    }
  }
}

// .app.dark-theme {
//   color: $layout-dark-header-clr;
//   background-color: $layout-dark-header-bg;
// }
// .app.dark-theme .app-main {
//   color: $layout-dark-body-clr;
//   background-color: $layout-dark-body-bg;
// }
// .app.dark-theme .app-aside {
//   background-color: rgba(255,255,255,0.1);
// }


.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}

html.accessability {
  font-size: 25px;
}


.container {
  margin: 0 auto;
  // padding: 10px 20px;
  max-width: 1500px;
  padding: 0 10px;
} 
// @media (max-width: $big-screen-breake) {
//   .container {
//       max-width: 1200px;
//   }
// } @media (max-width: $medium-screen-breake) {
//   .container {
//       padding: 10px 24px;
//       max-width: unset;
//   }
// } @media (max-width: $small-screen-break) {
//   .container {
//       padding: 10px 12px;
//   }
// }
.inner-container {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
  padding: 0 10px;
}




@media (min-width: $small-screen-break) {
  .small-screen-item {
    display: none !important;
  }
}
@media (max-width: $small-screen-break) {
  .wide-screen-item {
    display: none !important;
  }
}