* {
  box-sizing: border-box;
}

.app-header {
  height: $header-height;
  min-height: $header-height;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
}

.app-main {
  // min-height: calc(100vh - #{$header-height} - #{$footer-height});
  // height: calc(100vh - #{$header-height});
  min-height: calc(100vh - #{$header-height});
  margin-top:  $header-height;
  // overflow-y: auto;
  position: relative;

  
  // color: $layout-body-clr;
  // background-color: $layout-body-bg;
  // background-color: #fff;
  // color: rgb(252, 47, 47);
}


.main-pad-y {
  padding-top: $main-pad-y;
  padding-bottom: $main-pad-y;
  &.no-pad-bottom {
    padding-bottom: 0;
  }
}

.app-footer {
  // min-height: $footer-height;
  padding-inline-start: $app-aside-width;
  @media (max-width: $small-screen-breake) {
    padding-inline-start: 0;
  }
}

.app-content {
  display: flex;
  .right {
    flex: 1;
  }
}

.app-aside {
  display: none !important;
  width: $app-aside-width;
  background-color: rgba(0,0,0,0.05);
  // background-color: rgba(255,255,255,0.3);
  border-inline-end: 0.5px solid rgba(0,0,0,0.1);
  @media (max-width: $small-screen-breake) {
    display: none !important;
  }
}

.inner-app {
  // height: 100%;
  min-height: calc(100vh - #{$header-height});
  width: 100%;
  display: flex;
  flex-direction: column;
  .inner-app-content {
    height: 100%;
    flex: 1;
    // overflow-y: auto;
  }
}

// .app.dark-theme {
//   color: $layout-dark-header-clr;
//   background-color: $layout-dark-header-bg;
// }
// .app.dark-theme .app-main {
//   color: $layout-dark-body-clr;
//   background-color: $layout-dark-body-bg;
// }
// .app.dark-theme .app-aside {
//   background-color: rgba(255,255,255,0.1);
// }


.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}

html.accessability {
  font-size: 25px;
}


.container {
  margin: 0 auto;
  // padding: 10px 20px;
  max-width: 1500px;
} 
// @media (max-width: $big-screen-breake) {
//   .container {
//       max-width: 1200px;
//   }
// } @media (max-width: $medium-screen-breake) {
//   .container {
//       padding: 10px 24px;
//       max-width: unset;
//   }
// } @media (max-width: $small-screen-breake) {
//   .container {
//       padding: 10px 12px;
//   }
// }
.inner-container {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}




@media (min-width: $small-screen-breake) {
  .small-screen-item {
    display: none;
  }
}
@media (max-width: $small-screen-breake) {
  .wide-screen-item {
    display: none;
  }
}